* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background: url(../img/background\ 1.jpg) no-repeat;
  max-width: 1366px;
  box-sizing: border-box;
  height: 60px;
  max-width: 1366px;
}

.logo-span-conteiner {
  display: flex block;
  gap: 10px;
}
.logo-span-conteiner :hover{
    color: #F26522;
}

.href-li-item-1 {
  font-weight: 700;
  font-size: 29px;
}
.href-li-item-2 {
  font-weight: 700;
  font-size: 18px;
}

.header-content-conteiner {
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
 margin: 46px 160px 18px 161px;
  box-sizing: border-box;
  color: white;
}
.logo-with-text {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}
ul {
  list-style: none;
}


.header-nav-list {
  text-align: right;
  justify-content: end;
  box-sizing: border-box;
   font-size: 18px;
   font-weight: 400;
}
.header-nav-item {
  font-size: 18px;
  margin-bottom: 19px;
  align-items: center;
}
.header-nav-item a:hover {
    color: #F26522;
}


.ul-li-item{
padding-top: 19px;
}
.img{
    width: 53px;
    height: 47px;
}
/* ----------------------------------img------------------------------- */
.gallary{
    padding: 22px 0 78px;
}

.gallary-conteiner{
    display: grid;
 grid-template-columns: repeat(3,1fr);
 /* grid-auto-rows: 200px; */
 grid-gap: 61px;
 margin: 0 auto;
  max-width: 1366px;
  padding: 0 165px;
  box-sizing: border-box;
  color: aliceblue;
}



.gallary-item{
    width: 300px;
height: 220px;
}
.gallary-item p:hover{
    color: #F26522;
}

.gallary-item p{
    text-align: center;
 font-size: 18px;
 line-height: 18px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.footer-item{
    size: 12px;
    margin-bottom: 15px;
}






 .conteiner-hover{
    position: absolute;
    margin-top: 165px;

    display: flex;
    width: 295px;
height: 55px;
background-color: #F26522;
justify-content: space-between;
align-items: center;
padding: 29px 16px 12px;
box-sizing: border-box;
opacity: 0;


 }
 .gallary-item:hover .conteiner-hover {
  opacity: 1;

 }
 .hover-item ::after{
   content:"ᐳ";

 }
